<header id="header" class="header">
    <div class="header-container">
      <!-- idioma, moneda y menú -->
      <div class="header-section header-section-left">
        <ul class="header-menu">
          <li>
            <i class="fas fa-bars icon"></i>
          </li>
          <li>
            <i class="fas fa-globe icon"></i>
          </li>
          <li>
            <i class="fas fa-dollar-sign icon"></i>
          </li>
        </ul>
      </div>
      <!-- Menú de navegación -->
      <div class="header-section header-section-center">
        <nav class="navbar">
          <ul class="navbar-list">
            <li class="navbar-item">
              <a href="#" class="navbar-link">Principal</a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Tienda</a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Acerca de</a>
            </li>
            <div class="logo-container">
              <li class="nav-item logo-item">
                <a class="nav-link">
                  <img src="/img/logo.png" alt="Botanical" class="logo-image" />
                </a>
              </li>
            </div>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Blog</a>
            </li>
            <li class="navbar-item">
              <a href="#" class="navbar-link">Páginas</a>
            </li>
            <li class="navbar-item">
                <a href="#" class="navbar-link">Contacto</a>
              </li>
              </ul>
              </nav>
              </div>
              <div class="header-section header-section-right">
                <ul class="header-menu">
                  <li>
                    <i class="fas fa-search icon"></i>
                  </li>
                  <li class="icon-badge">
                    <i class="fas fa-heart icon"></i>
                    <span class="badge">1</span>
                  </li>
                  <li class="icon-badge">
                    <i class="fas fa-shopping-cart icon"></i>
                    <span class="badge">2</span>
                  </li>
            </ul>
        </div>
    </div>
</header>

<!-- los más nuevos -->
<div class="container container-color">
    <h2>Los más Nuevoss</h2>
    <div class="card-container">
      <div class="card">
        <img src="{{ img01 }}" alt="Producto 1" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant01 }}</h3>
          <p class="product-price">${{ price01 }}</p>
        </div>
      </div>
      <div class="card">
        <img src="{{ img02 }}" alt="Producto 2" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant02 }}</h3>
          <p class="product-price">${{ price02 }}</p>
        </div>
      </div>
      <div class="card">
        <img src="{{ img03 }}" alt="Producto 3" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant03 }}</h3>
          <p class="product-price">${{ price03 }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- los más buscados -->
<div class="container">
    <h2>Los más buscados</h2>
    <div class="card-container">
      <div class="card">
        <img src="{{ img04 }}" alt="Producto 1" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant04 }}</h3>
          <p class="product-price">${{ price04 }}</p>
        </div>
      </div>
      <div class="card">
        <img src="{{ img05 }}" alt="Producto 2" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant05 }}</h3>
          <p class="product-price">${{ price05 }}</p>
        </div>
      </div>
      <div class="card">
        <img src="{{ img06 }}" alt="Producto 3" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant06 }}</h3>
          <p class="product-price">${{ price06 }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- más opciones -->
<div class="container container-color">
    <h2>Más opciones</h2>
    <div class="card-container">
      <div class="card">
        <img src="{{ img07 }}" alt="Producto 1" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant07 }}</h3>
          <p class="product-price">${{ price07 }}</p>
        </div>
      </div>
      <div class="card">
        <img src="{{ img08 }}" alt="Producto 2" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant08 }}</h3>
          <p class="product-price">${{ price08 }}</p>
        </div>
      </div>
      <div class="card">
        <img src="{{ img09 }}" alt="Producto 3" class="card-image" />
        <div class="card-content">
          <h3 class="product-name">{{ plant09 }}</h3>
          <p class="product-price">${{ price09 }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- footer -->
<footer>
  <div class="copyright">
    <p class="mb-0">
      Copyright 2025 by <a href="#"><span>&copy;</span>Inpdtdos</a> - All right reserved
    </p>
  </div>
</footer> 